@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.wrapper {
    font-size: 16px;
    background-color: black;
}

.spacer {
    display: flex;
    height: 100vh;
    background-color: black;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 6em;
}

.video-section canvas {
    max-width: 100%;
    max-height: 100%;


}

.video-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.canvas-wrapper {
    position: relative;
    max-width: 1280px;
    margin-inline: 18px;
}

.text-1,
.text-2,
.text-3 {
    position: absolute;
    font-size: 2em;
    color: white;

}

.text-1 {
    top: 0;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
}

.text-block {
    position: absolute;
    overflow: hidden;
}

.text-block__content {
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 0.5em;
    max-width: 19em;
    transform: translateY(100%);
    opacity: 0;
}

.text-block__content p {
    opacity: 0.8;
}

.pin-head-container {
    width: 33em;
    display: flex;
    overflow: hidden;
    height: 10px;
    margin-bottom: 0.5em;
}

.pin-head {
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    opacity: 0;
}

.pin-head::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #6e6e73;
    right: 0;
    border-radius: 50px;
}

.pin-head::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #6e6e73;
}

.text-block.first {
    top: 15%;
    left: 0;
}

.text-block.second {
    top: 57%;
    right: 0;
}

.text-block.third {
    top: 35%;
    left: 0%;
}

.text-block.third .pin-head-container {
    width: 30em;
}

.text-block.fourth {
    top: 2%;
    right: 0%;
}

.text-block.fifth {
    top: 60%;
    left: 0%;
}

.text-block:nth-of-type(odd) .text-block__content {
    margin-left: auto;
}

.text-block:nth-of-type(odd) .pin-head {
    transform: translateX(100%);
}

.text-block:nth-of-type(odd) .pin-head::before {
    left: 0;
}

.setting {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.setting button {
    padding: 14px;
}

@media screen and (max-width:1024px) {
    .wrapper {
        font-size: 12px;
    }    
}

.product-slider-wrapper{
    display: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100% !important;
}

.slider-content{
    padding: 16px;
    max-width: 300px;
    margin-inline: auto;
    color: #fff;
}

.slider-content h1{
    font-size: 1em;
    margin-bottom: 0.5rem;
}

.slider-content p{
    font-size: 0.8rem;
}

.slider-wrapper{
    overflow: hidden;
}

@media screen and (max-width:824px) {

    .setting{
        display: none;
    }

    .wrapper {
        font-size: 10px;
    }  

    .product-slider-wrapper{
        display: block;
    }

    .text-block{
        display: none;
    }

    /* .text-block{
        display: flex;
        text-align: center;
        flex-direction: column;
        overflow: unset;
        align-items: center;
    } */

    /* .text-block__content{
        margin-inline: auto;
    }

    .text-block.first{
        top: -25%;
        flex-direction: column-reverse;
        left: 0;
        right: 0;
        align-items: center;
    }

    .text-block .pin-head-container{
        width: 12vh;
        position: absolute;
        rotate: 90deg;
        bottom: -10vh;    
    }

    .text-block.second{
        top: unset;
        right: 0;
        left: 0;
        margin-inline: auto;
    }

    .text-block.second .pin-head-container{
        top: -10vh;
        margin-left: 10%;
    }

    .text-block.fourth{
        top: -17vh;
        left: 0;
        right: 0;
    }

    .text-block.fourth .pin-head-container{
        rotate: 270deg;        
    }

    .text-block.third{
        top: unset;
        right: 0;
        left: 0;
        margin-inline: auto;
    }

    .text-block.third .pin-head-container{
        width: 12vh;
        top: -8vh;
        rotate: 270deg;
    }

    .text-block.fifth{
        top: unset;
        left: 0;
        right: 0;
    }

    .text-block.fifth .pin-head-container{
        rotate: 270deg;
        top: -8vh;
    } */
}
@media screen and (max-width:600px) 
{

    /* #lottie-player{
        height: 760px;
    } */
}

.slider-controls{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5em;
}

.slider-controls button{
    background: transparent;
    color: #fff;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.slider-controls button.swiper-button-disabled{
    opacity: 0.5;
}